[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "jmatrix"]
	path = jmatrix
	url = https://github.com/cran/jmatrix
[submodule "parallelpam"]
	path = parallelpam
	url = https://github.com/cran/parallelpam
[submodule "scellpam"]
	path = scellpam
	url = https://github.com/cran/scellpam
